* {
    text-align: center;
    margin-top: 1vh;
    background-color: rgb(255, 91, 91);
    h1 {
        font-size: 7vh;
    }
}

.buttons-container{
    margin: 10vh 10vh;
    padding: 10vh;
}

.btn {
    background-color: white;
    margin: 1vh 5vh;
    border-radius: 2vh;
    font-size: x-large;
    border: 0;
}

.img{
    width: 20vh;
    height: 20vh;
    background-color: rgb(242, 78, 78);
    border-radius: 5vh;
}

.messages-container{
    margin-top: 0;
    font-size: 2.5vh;
}
